
menu "Nuttx API Example"
source "HOME/nuttx_api_mq/Kconfig"
source "HOME/nuttx_api_sem/Kconfig"
source "HOME/nuttx_api_syslog/Kconfig"
source "HOME/nuttx_api_task/Kconfig"
source "HOME/nuttx_api_task2/Kconfig"
source "HOME/nuttx_api_task3/Kconfig"
source "HOME/nuttx_api_task4/Kconfig"
source "HOME/nuttx_api_uart/Kconfig"
source "HOME/nuttx_api_wq/Kconfig"
source "HOME/nuttx_file_io/Kconfig"
endmenu # Examples
