#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_MQ_TEST
	tristate "Named Message Queue Interfaces example"
	default n
	---help---
		Enable the Named Message Queue Interfaces example.

if EXAMPLES_MQ_TEST

config EXAMPLES_MQ_TEST_PROGNAME
	string "Program name"
	default "mq_test"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_MQ_TEST_PRIORITY
	int "task priority"
	default 100

config EXAMPLES_MQ_TEST_STACKSIZE
	int "stack size"
	default 2048

endif
